<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="../../assets/img/fii-logo.png" alt="fii-logo" width="40"
          class="d-inline-block align-top">
        <span class="align-middle">Thesis Matcher</span>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" routerLink="/matchings">
            Matching
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/students">
            Students
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/professors">
            Professors
          </a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
          id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="../../assets/img/user-logo.png" alt="user-img"
            class="rounded-circle" height="30">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item">Preferences</a></li>
          <li><a class="dropdown-item">My profile</a></li>
          <li><a class="dropdown-item">Setings</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item">Login</a></li>
          <li><a class="dropdown-item">Signin</a></li>
          <li><a class="dropdown-item">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>