<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="../../assets/img/fii-logo.png" alt="fii-logo" width="40"
          class="d-inline-block align-top">
        <span class="align-middle">Thesis Matcher</span>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/matchings" routerLinkActive="active">
            Matching
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students" routerLinkActive="active"
            *ngIf="isAuthenticated && isProfessor">
            Students
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/professors" routerLinkActive="active"
            *ngIf="isAuthenticated  && !isProfessor">
            Professors
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/preferences"
            routerLinkActive="active" *ngIf="isAuthenticated  && !isProfessor">
            My Preferences
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/proposals" routerLinkActive="active"
            *ngIf="isAuthenticated  && isProfessor">
            My Proposals
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isAuthenticated"
            [routerLink]="isProfessor ? '/professor/accords'
            : '/student/accords'">
            Accords
          </a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-success" style="margin-right: 1vw;"
        routerLink="/add-user" routerLinkActive="active"
        *ngIf="isAuthenticated && isAdmin">Add User</button>
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
          id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="../../assets/img/user-logo.png" alt="user-img"
            class="rounded-circle" height="30" title="Profile">
          <span *ngIf="isAuthenticated">{{ username }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown">
          <div *ngIf="isAuthenticated">
            <li><a class="dropdown-item">Preferences</a></li>
            <li><a class="dropdown-item">My profile</a></li>
            <li><a class="dropdown-item">Setings</a></li>
          </div>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="/auth"
              routerLinkActive="active" *ngIf="!isAuthenticated">LOG IN<span
                class='material-icons login'>login</span></a></li>
          <li><a class="dropdown-item" *ngIf="isAuthenticated"
              (click)="onLogout()">LOG OUT<span
                class='material-icons logout'>logout</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>