li {
  cursor: pointer;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  margin-top: 1vh;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
}

.dropdown-item .login {
  color: blue;
}

.dropdown-item .signup {
  color: green;
}

.dropdown-item .logout {
  color: red;
}

a#navbarDropdown {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: rgba(50, 135, 202);
}

a#navbarDropdown:hover {
  background-color: rgba(50, 135, 202);
  border-radius: 10px;
  padding: 5px;
  color: rgb(33,37,41);
}
