<a [routerLink]="[index]" routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="row prop-type" [ngClass]="{
    'topic': preference.places,
    'project': !preference.places
  }">
    <span>{{ preference.places ? "Topic" : "Project"}}</span>
  </div>
  <div class="row">
    <h4 class="list-group-item-heading">{{ preference.title }}</h4>
  </div>
  <div class="row">
    <div class="col-sm-auto rating">
      <span>Rating: {{preference.rating}}</span>
    </div>
    <div *ngIf="preference.places" class="col-sm-auto places">
      <span>Available: {{ preference.places }}</span>
    </div>
  </div>
</a>