<div class="card card-cascade sticky-top">
  <div class="view view-cascade overlay" [align]="'center'">
    <img class="card-img-top" src="../../../assets/img/user-logo.png"
      alt="Card image cap" style="max-width: 20vw;">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <div class="card-body card-body-cascade text-center">
    <h4 class="user-index">#{{ user.id }}</h4>
    <h4 class="card-title">
      <strong>{{ user.firstName }} {{ user.lastName }}</strong>
    </h4>
    <p class="card-text description">
      {{user.description ? user.description : "No description."}}
    </p>
    <button *ngIf="!isProfessor" type="button" class="btn btn-info"
      routerLink="proposals" routerLinkActive>View proposals</button>
    <button *ngIf="isProfessor" type="button" class="btn btn-success"
      routerLink="assign" routerLinkActive
      [disabled]="hasAccordAccepted">Propose assignment</button>
    <div [hidden]="!hasAccordAccepted" class="alert alert-danger">
      Student is already in an accord
    </div>
  </div>
  <div class="card-footer text-muted text-center">
    {{ user.username }}
  </div>
</div>