<div class="item sticky-top">
  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-danger"
        (click)="onDeletePreference()">Delete</button>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h4>{{ preference.profUsername }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 prop-id">
      <h2 class="prop-id">#{{ preference.proposalId }}</h2>
    </div>
    <div class="col-md-10">
      <h2>{{ preference.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="description">{{ preference.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>Resources:</h6>
      <p class="resources">{{ preference.resources }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h5>Rating:</h5>
    </div>
    <div class="col-sm-3">
      <h5>{{ preference.rating }}</h5>
    </div>
    <div class="col-sm-6">
      <form #ratingForm="ngForm" (ngSubmit)="onSubmit(ratingForm)">
        <div class="form-group">
          <label for="newRating">New rating: </label>
          <input ngModel type="number" min="1" max="20" digitOnly id="newRating"
            class="form-control" name="newRating" pattern="\d*" required
            [value]="preference.rating">
        </div>
        <button type="submit" class="btn btn-success"
          [disabled]="ratingForm.pristine || ratingForm.invalid">Change</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div [hidden]="ratingForm.valid || ratingForm.pristine"
      class="alert alert-danger">
      Number must be integer between 1 and 20
    </div>
  </div>
</div>