.item {
  border: solid black 2px;
  border-radius: 10px;
  padding: 5%;
}

.prop-id {
  color: rgba(0, 0, 0, 0.700);
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
input.ng-dirty.ng-invalid {
  border: 2px solid red;
}