.content {
  display: block;
}

table {
  width: 100%;
  border-spacing: 0 8px !important;
}

td.mat-cell {
  padding: 0.5vw;
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
}

[class*="mat-header-"] {
  background-color: rgba(50, 135, 202);
  font-size: medium;
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-row:hover {
  background-color: rgb(220, 220, 220);
  cursor: default;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container img,
button {
  max-height: 5vh;
  margin: 0.5vw;
}

.button-container img,
button:hover {
  cursor: pointer;
}

mat-form-field {
  margin-left: 0.5vw;
}