<div class="content" role="main">
  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Filter" (keyup)="filterChanged($event)">
    </mat-form-field>
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element;"> {{ element.id }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.firstName }} {{
          element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{ element.professor?
          "Professor" : "Student" }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="button-container">
            <img src="../../../assets/img/user-logo.png" alt="{{element.email}}"
              title="Details" class="actions">

            <button mat-mini-fab color="primary" title="Add to favorites"
              class="actions">
              <mat-icon class="icon-display">library_add</mat-icon>
            </button>

            <button mat-mini-fab color="warn" title="Add to favorites"
              class="actions">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
        *matRowDef="let row; columns: displayedColumns; let indexOfEl = index"
        [routerLink]="[indexOfEl]" routerLinkActive="active"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length"
          style="font-size: medium;">
          No users found.
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons
      (page)="getPageDetails($event)">
    </mat-paginator>
  </div>
</div>