<a [routerLink]="[index]" routerLinkActive="active"
  class="list-group-item d-flex justify-content-between align-items-center">
  <div class="d-flex">
    <h6>{{index}}</h6>
    <div class="vr" style="margin-left: 1vw;"></div>
  </div>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ user.firstName }} {{ user.lastName }}
    </h4>
    <p class="list-group-item-text">{{ user.username }}</p>
  </div>
  <h6 *ngIf="!user.professor">serial number</h6>
  <h6 *ngIf="user.professor">rank</h6>
  <span class="pull-right">
    <img [src]="'../../../../assets/img/user-logo.png'" alt="{{ user.username }}"
      class="img-responsive" style="max-height: 50px;">
  </span>
</a>